<li class="search-post-item list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <a href="{{ post.get_absolute_url }}">
            <div class="pointer-hover-underline fw-bold text-wrap text-break">{{ post.body|truncatechars:100 }}</div>
        </a>
        <a href="{{ post.author.get_absolute_url }}">
            <span class="pointer-hover-underline text-muted text-break text-wrap">by {{ post.author.username }}</span>
        </a>
    </div>
    <div class="search-item-stats">
        <div class="stat likes-stat" title="Likes">
            <i class="bi bi-heart-fill"></i>
            <span class="d-inline-block">
            {% if post.like_count > 99 %}
                +99
            {% else %}
                {{ post.like_count }}
            {% endif %}
            </span>
        </div>
        <div class="stat replies-stat" title="Replies">
            <i class="bi bi-chat-fill"></i>
            <span class="d-inline-block">
            {% if post.comment_count > 99 %}
                +99
            {% else %}
                {{ post.comment_count }}
            {% endif %}
            </span>
        </div>
    </div>
</li>