<div class="posts">
    {% for post in posts %}
        <div class="post my-sm-4 h-100 p-5 bg-light border rounded-3">
            <div class="post-head mb-2">
                <div class="author-picture">
                    <a href="{{ post.author.get_absolute_url }}">
                        <img class="profile-picture-medium rounded" src={{ post.author.profile_picture.url }} alt="profile picture"/>
                    </a>
                </div>
                <div class="post-info ms-2">
                    <div class="post-author-username">
                        <a href="{{ post.author.get_absolute_url }}">{{ post.author.username }}</a>
                    </div>
                    <div class="post-time text-muted">
                        {% if post.updated != post.created %}
                        <abbr title="Created: {{ post.created|date:'Y/m/d g:i a'}}">
                            <small class='updated'/>
                                {{ post.updated|date:'Y/m/d g:i a'}}<i class="bi bi-pencil ms-2"></i>
                            </small>
                        </abbr>
                        {% else %}
                            <small class='created'/>{{ post.created|date:'Y/m/d g:i a'}}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="post-dots ms-auto text-muted">
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
            <div class="post-body">
                <p>{{ post.body }}</p>
            </div>
            {% if post.picture %}
                <div class="post-picture">
                    <img class="post-img modal-img img-thumbnail mx-auto d-block" src={{ post.picture.url }} alt="post picture" />
                </div>
            {% endif %}
            <hr>
            <div class="post-bottom">
                <div class="post-actions">
                    <div class="action action-chat">
                        <div class="icon">
                            <i class="bi bi-chat"></i>
                        </div>
                        <div class="count">
                            {% if post.comment_count > 0 %}
                                <span>{{ post.comment_count }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="action like-wrapper">
                        <form action="{% url 'posts:handle-like' post.pk %}" method="post" class="like-form">
                            {% csrf_token %}
                            <input type="hidden" name="post-id" value="{{ post.pk }}">
                            <button class="action-btn" type="submit">
                                <div class="action action-like {% if user in post.get_liked %}liked{% endif %}" id="like-container-post-{{ post.pk }}">
                                    <div class="icon">
                                        <!-- TODO two identical ifs -->
                                        {% if user in post.get_liked %}
                                            <i id="like-icon-{{ post.pk }}" class="bi bi-heart-fill"></i>
                                        {% else %}
                                            <i id="like-icon-{{ post.pk }}" class="bi bi-heart"></i>
                                        {% endif %}
                                    </div>
                                    <div class="count" id="like-count-post-{{ post.pk }}">
                                        {% if post.like_count > 0 %}
                                            {{ post.like_count }}
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                    <div class="action action-share">
                        <div class="icon">
                            <i class="bi bi-box-arrow-up"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>