<div class="post my-4 p-5 bg-light border rounded-3" id="post-{{ post.pk }}">
    <div class="post-head mb-2">
        <div class="author-picture">
            <a href="{{ post.author.get_absolute_url }}">
                <img class="profile-picture-medium rounded" src={{ post.author.profile_picture.url }} alt="profile picture"/>
            </a>
        </div>
        <div class="post-info ms-2">
            <div class="post-author-username">
                <a href="{{ post.author.get_absolute_url }}">{{ post.author.username }}</a>
            </div>
            <div class="post-time text-muted">
                {% if post.updated != post.created %}
                <abbr title="Created: {{ post.created|date:'Y/m/d g:i a'}}">
                    <small class='updated'/>
                        {{ post.updated|date:'Y/m/d g:i a'}}<i class="bi bi-pencil ms-2"></i>
                    </small>
                </abbr>
                {% else %}
                    <small class='created'/>{{ post.created|date:'Y/m/d g:i a'}}</small>
                {% endif %}
            </div>
        </div>
        <div class="post-dots ms-auto text-muted">
            <i class="bi bi-three-dots-vertical" type="button" id="postDetailDropdownMenuButton{{ post.pk }}" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="postDetailDropdownMenuButton{{ post.pk }}">
                <li><a class="dropdown-item" href="{{ post.get_absolute_url }}"><i class="bi bi-box-arrow-right me-2"></i><span>Check post page</span></a></li>
                <li><a class="dropdown-item" href="{{ post.author.get_absolute_url }}"><i class="bi bi-person-circle me-2"></i><span>Check author profile</span></a></li>
                <li><hr></li>
                {% if request.user.profile == post.author %}
                    <li><a class="dropdown-item" href="{% url 'posts:post-update' post.pk %}"><i class="bi bi-pencil me-2"></i><span>Edit post</span></a></li>
                    <form action="{% url 'posts:post-delete' post.pk %}" method="POST" class="delete-post-form">
                        <input type="hidden" name="post-id" value="{{ post.pk }}">
                        <li><button class="dropdown-item" type="submit"><i class="bi bi-trash me-2"></i><span>Delete post</span></button></li>
                    </form>
                    <li><hr></li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li><h4 class="dropdown-header"><i class="bi bi-tools me-2"></i>Admin panel<h4></li>
                    <form action="{% url 'posts:post-delete' post.pk %}" method="POST" class="delete-post-form">
                        <input type="hidden" name="post-id" value="{{ post.pk }}">
                        <li><button class="dropdown-item" type="submit"><i class="bi bi-trash me-2"></i><span>Delete post</span></button></li>
                    </form>
                    <li><hr></li>
                {% endif %}
                <li><a class="dropdown-item disabled" href="#"><i class="bi bi-flag me-2"></i><span>Report post TODO</span></a></li>
            </ul>
        </div>
    </div>
    <div class="post-body">
        {% if post.parent %}
            <div class="post-parent">
                <a href="{{ post.parent.get_absolute_url }}">
                    <small class="parent-info text-muted">Replying to {{ post.parent.author.username}}</small>
                </a>
            </div>
        {% endif %}
        <p>{{ post.body }}</p>
    </div>
    {% if post.picture %}
        <div class="post-picture">
            <img class="post-img modal-img img-thumbnail mx-auto d-block" src={{ post.picture.url }} alt="post picture" />
        </div>
    {% endif %}
    <hr>
    <div class="post-bottom">
        <div class="post-actions">
            <div class="action chat-wrapper">
                <a href="{{ post.get_absolute_url }}">
                    <div class="action action-chat">
                        <div class="icon">
                            <i class="bi bi-chat"></i>
                        </div>
                        <div class="count">
                            {% if post.comment_count > 0 %}
                                <span>{{ post.comment_count }}</span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="action like-wrapper">
                <form action="{% url 'posts:handle-like' post.pk %}" method="post" class="like-form">
                    {% csrf_token %}
                    <input type="hidden" name="post-id" value="{{ post.pk }}">
                    <button class="action-btn" type="submit">
                        <div class="action action-like {% if user in post.get_liked %}liked{% endif %}" id="like-container-post-{{ post.pk }}">
                            <div class="icon">
                                <!-- TODO two identical ifs -->
                                {% if user in post.get_liked %}
                                    <i id="like-icon-{{ post.pk }}" class="bi bi-heart-fill"></i>
                                {% else %}
                                    <i id="like-icon-{{ post.pk }}" class="bi bi-heart"></i>
                                {% endif %}
                            </div>
                            <div class="count" id="like-count-post-{{ post.pk }}">
                                {% if post.like_count > 0 %}
                                    {{ post.like_count }}
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="action action-share">
                <div class="icon">
                    <i class="bi bi-box-arrow-up"  type="button" id="postShareDropdown{{ post.pk }}" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu post-share-menu" aria-labelledby="postShareDropdown{{ post.pk }}">
                        <input type="hidden" name="post-url" value="{{ post.get_absolute_url }}">
                        <li data-toggle="popover" title="Copied!"><a class="dropdown-item copyUrl {{post.pk}}"><i class="bi bi-link-45deg me-2"></i><span>Copy post URL</span></a></li>
                        <li><a class="dropdown-item disabled"><i class="bi bi-envelope me-2"></i><span>Send via message TODO</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>