{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ profile.username }}
{% endblock title %}
{% block content %}
    <div class="profile-container">
        <div class="profile-background">
            <img class="w-100 rounded-3 modal-img" src={{ profile.profile_background.url }} alt="Profile background"/>
        </div>
        <div class="profile-header rounded-3">
            <input type="hidden" id="csrfToken" name="csrfmiddlewaretoken" value={{ csrf_token }}>
            <img class="img-thumbnail modal-img" src={{ profile.profile_picture.url }} alt="" srcset="">
            <p class="display-6 profile-header-username">{{ profile.username }}</p>
            <div class="follow-info">
            <div class="following">{{ profile.following_count }} <small class="text-muted">Following</small></div>
            <div class="followers"><span id="followers-count-{{ profile.user.pk }}">{{ profile.followers_count }}</span> <small class="text-muted">Followers</small></div>
            </div>
            <div class="profile-bio w-100 mt-2 text-muted">
                <p>{{ profile.bio }}</p>
            </div>
            <div class="follow-btn-wrapper">
                <form action="{% url 'profiles:handle-follow' profile.user.pk %}" method="post" class="follow-form">
                    {% csrf_token %}
                    <input type="hidden" name="user-id" value="{{ profile.user.pk }}">
                    {% if request.user.is_authenticated %}
                        {% if request.user.profile != profile %}
                            {% if profile in request.user.profile.get_following_profiles  %}
                                <button type="submit" class="btn btn-outline-primary following-btn" id="follow-btn-{{ profile.user.pk }}">
                                    <span>Following</span>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-primary follow-btn" id="follow-btn-{{ profile.user.pk }}">
                                    <span>Follow</span>
                                </button>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <button type="submit" class="btn btn-primary follow-btn" id="follow-btn-{{ profile.user.pk }}">
                            <span>Follow</span>
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="profile-body">
            {% if profile.posts_count > 0 %}
                <div class="posts">
                    {% for post in posts %}
                        {% include 'posts/post.html' %}
                    {% endfor %}
                </div>
            {% else %}
            <div class="no-posts-msg mt-4">
                <h4>No posts yet!</h4>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="module" src={% static 'postsScript.js' %} defer></script>
    {% if user.is_authenticated %}
        <script type="module" src={% static 'postsScriptLoggedIn.js' %} defer></script>
    {% endif %}
{% endblock scripts %}