{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ profile.username }}
{% endblock title %}
{% block content %}
    <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-break text-wrap" id="followingModalLabel">{{ profile.username }} is following</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% url 'profiles:profile-following-hx' profile.pk as profile_following_hx_url %}
                {% include "htmx/lazy_load_htmx.html" with hx_get_url=profile_following_hx_url %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-break text-wrap" id="followersModalLabel">{{ profile.username }} followers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% url 'profiles:profile-followers-hx' profile.pk as profile_followers_hx_url %}
                {% include "htmx/lazy_load_htmx.html" with hx_get_url=profile_followers_hx_url %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-background" id="profile-background">
            <img class="w-100 rounded-3 modal-img" src={{ profile.profile_background.url }} alt="Profile background"/>
        </div>
        <div class="profile-header rounded-3">
            <img class="img-thumbnail modal-img" id="profile-picture" src={{ profile.profile_picture.url }} alt="" srcset="">
            <p class="display-6 profile-header-username text-break text-center">{{ profile.username }}</p>
            <div class="follow-info">
            <div class="following pointer-hover-underline" {% if profile.following_count > 0 %}data-bs-toggle="modal" data-bs-target="#followingModal"{% endif %}>{{ profile.following_count }} <small class="text-muted">Following</small></div>
            <div class="followers pointer-hover-underline" {% if profile.followers_count > 0 %}data-bs-toggle="modal" data-bs-target="#followersModal"{% endif %}><span id="followers-count-{{ profile.user.pk }}">{{ profile.followers_count }}</span> <small class="text-muted">Followers</small></div>
            </div>
            <div class="profile-bio w-100 mt-2 text-muted">
                <p>{{ profile.bio }}</p>
            </div>
            {% if request.user.pk != profile.user.pk %}
                {% include 'follow_btn.html' with btn_class="btn btn-primary follow-btn" %}
            {% endif %}
        </div>
        <div class="profile-body">
            {% if profile.posts_count > 0 %}
                <div id="htmxLoadWrapper">
                    {% url 'posts:posts-by-user-hx' profile.pk as user_posts_hx_url %}
                    {% include "htmx/lazy_load_htmx.html" with hx_get_url=user_posts_hx_url %}
                </div>
            {% else %}
            <div class="no-posts-msg mt-4">
                <h4>No posts yet!</h4>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        document.getElementById('profile-background').addEventListener('click', () => {
            const imgUrl = '{{ profile.profile_background.url }}'
            imageModal(imgUrl)
        })

        document.getElementById('profile-picture').addEventListener('click', () => {
            const imgUrl = '{{ profile.profile_picture.url }}'
            imageModal(imgUrl)
        })
    </script>
{% endblock scripts %}