@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$bootstrapBlue: #0275d8;
$bootstrapRed: #dc3545;

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.pointer-hover-underline {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.navbar {
    &-icon {
        height: 25px;
        margin-right: 5px;
        margin-bottom: 2px;
    }

    &-brand {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.post.htmx-added {
    opacity: 0;
}

.search-item-stats {
    margin-left: 5px;

    .stat {
        white-space: nowrap;
    }

    .likes-stat {
        i {
            color: hotpink;
        }
    }

    .replies-stat, .followers-stat {
        i {
            color: $bootstrapBlue;
        }
    }
}

.profile {
    &-picture-small {
        height: 30px;
        width: 30px;
    }

    &-picture-medium {
        height: 50px;
        width: 50px;
    }
}

.form {
    &-container {
        &-sm {
            max-width: 576px;
            margin: auto;
        }

        &-md {
            max-width: 768px;
            margin: auto;
        }
    }
}

.modal {
    &-img {
        cursor: pointer;
    }
}

.truncate-text {
    max-width: 90vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .settings {
        width: 70%;
    }
}