<div class="follow-btn-wrapper">
        {% if request.user.is_authenticated %}
            {% if request.user.profile != profile %}
                {% if profile in request.user.profile.get_following_profiles  %}
                    <button type="submit" class="btn btn-outline-primary following-btn" id="follow-btn-{{ profile.user.pk }}">
                        <span>Following</span>
                    </button>
                {% else %}
                    <button type="submit" class="{{ btn_class }}" id="follow-btn-{{ profile.user.pk }}">
                        <span>Follow</span>
                    </button>
                {% endif %}
            {% endif %}
        {% else %}
            <button type="submit" class="{{ btn_class }}" id="follow-btn-{{ profile.user.pk }}">
                <span>Follow</span>
            </button>
        {% endif %}
        <script>
            document.getElementById('follow-btn-{{ profile.user.pk }}').addEventListener('click', () => {
                followUser({{ profile.user.pk }})
            })
        </script>
</div>