{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content-left %}
  <ul class="list-group my-4">
  <h4>Popular posts</h4>
  {% for post in most_replies_posts %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <a href="{{ post.get_absolute_url }}">
          <div class="pointer-hover-underline fw-bold text-wrap text-break">{{ post.body|truncatechars:20 }}</div>
        </a>
        <a href="{{ post.author.get_absolute_url }}">
          <span class="pointer-hover-underline text-muted text-break text-wrap">by {{ post.author.username }}</span>
        </a>
      </div>
      <span class="badge bg-primary rounded-pill" title="Replies">
      {% if post.comment_count > 99 %}
        +99
      {% else %}
        {{ post.comment_count }}
      {% endif %}
      </span>
    </li>
  {% endfor %}
  </ul>
{% endblock content-left %}

{% block content %}
  {% if user.is_authenticated %}
    {% include 'posts/post_form.html' %}
  {% endif %}

  <div class="posts">
      <input type="hidden" id="csrfToken" name="csrfmiddlewaretoken" value={{ csrf_token }}>
      {% for post in posts %}
          {% include 'posts/post.html' %}
      {% endfor %}
  </div>

  {% if posts.paginator.num_pages > 1 %}
    {% include 'posts/pagination.html' with page_obj=posts %}
  {% endif %}

{% endblock content %}

{% block content-right %}
  <div class="search my-4">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
  <div class="follow-suggestions my-4">
    <h4>People you might know</h4>
    <ul class="list-group">
        {% for suggestion in follow_suggestions %}
                <li class="follow-suggestion list-group-item d-flex flex-column">
                    <div class="follow-suggestion-content w-100 d-flex align-items-center justify-content-center flex-wrap">
                        <div class="follow-suggestion-img">
                            <a href="{{ suggestion.get_absolute_url }}">
                                <img class="profile-picture-medium rounded" src={{ suggestion.profile_picture.url }} alt="Profile picture">
                            </a>
                        </div>
                        <div class="follow-suggestion-info w-100 ms-2 text-center d-flex flex-column justify-content-center align-items-center flex-wrap">
                            <a href="{{ suggestion.get_absolute_url }}"><span class="pointer-hover-underline text-break">{{ suggestion.username }}</span></a>
                            {% include 'follow_btn.html' with profile=suggestion btn_class="btn btn-primary btn-sm follow-btn" %}
                        </div>
                    </div>
                </li>
        {% endfor %}
    </ul>
  </div>
{% endblock content-right %}

{% block scripts %}
    <script type="module" src={% static 'postsScript.js' %} defer></script>
    {% if user.is_authenticated %}
        <script type="module" src={% static 'postsScriptLoggedIn.js' %} defer></script>
    {% endif %}
{% endblock scripts %}