{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content-left %}
  <div id="popular-posts"></div>
{% endblock content-left %}

{% block content %}
  <div id="home-section" data-request-user-id={{ request.user.pk }} data-request-user-is-staff={{request.user.is_staff}}></div>
{% endblock content %}

{% block content-right %}

{% url 'posts:search-form-hx' as search_form_hx_url %}
{% include "htmx/lazy_load_htmx.html" with  hx_get_url=search_form_hx_url %}
  <div id="follow-suggestions" data-request-user-id={{ request.user.pk }}></div>
{% endblock content-right %}