{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{post.author_username}}: {{post.body}}
{% endblock title %}

{% block content %}
    <div class="modal fade" id="likesModal" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="likesModalLabel">Likes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for like_user in post.get_liked %}
                    <a href="{{ like_user.profile.get_absolute_url }}">
                        <div class="wrapper d-flex my-2">
                            <img class="profile-picture-medium rounded" src={{ like_user.profile.profile_picture.url }} alt="Profile picture">
                            <p class="pointer-hover-underline ms-2 mt-3 text-break">{{ like_user.profile.username }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="post my-4 p-5 bg-light border rounded-3" id="post-{{ post.pk }}">
        <div class="post-head mb-2">
            <div class="author-picture">
                <a href="{{ post.author.get_absolute_url }}">
                    <img class="profile-picture-medium rounded" src={{ post.author.profile_picture.url }} alt="profile picture"/>
                </a>
            </div>
            <div class="post-info ms-2">
                <div class="post-author-username">
                    <a href="{{ post.author.get_absolute_url }}"><span class="pointer-hover-underline text-break">{{ post.author.username }}</span></a>
                </div>
                <div class="post-time text-muted">
                    {% if post.updated != post.created %}
                        <small class='updated' title="Created: {{ post.created|date:'Y/m/d g:i a'}}"/>
                            {{ post.updated|date:'Y/m/d g:i a'}}<i class="bi bi-pencil ms-2"></i>
                        </small>
                    {% else %}
                        <small class='created'/>{{ post.created|date:'Y/m/d g:i a'}}</small>
                    {% endif %}
                </div>
            </div>
        <div class="post-dots ms-auto text-muted">
            <i class="bi bi-three-dots-vertical" type="button" id="postDetailDropdownMenuButton{{ post.pk }}" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="postDetailDropdownMenuButton{{ post.pk }}">
                <li><a class="dropdown-item" href="{{ post.author.get_absolute_url }}"><i class="bi bi-person-circle me-2"></i><span>Check author profile</span></a></li>
                <li><hr></li>
                {% if request.user.profile == post.author %}
                    <li><a class="dropdown-item" href="{% url 'posts:post-update' post.pk %}"><i class="bi bi-pencil me-2"></i><span>Edit post</span></a></li>
                    <li id="delete-btn-{{ post.pk }}"><a class="dropdown-item"><i class="bi bi-trash me-2"></i><span>Delete post</span></a></li>
                    <li><hr></li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li><h4 class="dropdown-header"><i class="bi bi-tools me-2"></i>Admin panel<h4></li>
                    <li id="delete-btn-staff-{{ post.pk }}"><a class="dropdown-item"><i class="bi bi-trash me-2"></i><span>Delete post</span></a></li>
                    <li><hr></li>
                {% endif %}
                <li><a class="dropdown-item disabled" href="#"><i class="bi bi-flag me-2"></i><span>Report post TODO</span></a></li>
            </ul>
        </div>
        </div>
        <div class="post-body">
            {% if post.parent %}
                <div class="post-parent">
                    <a href="{{ post.parent.get_absolute_url }}">
                        <small class="parent-info text-muted text-break text-wrap">Replying to {{ post.parent.author.username}}</small>
                    </a>
                </div>
            {% endif %}
            <p class="post-body-detail">{{ post.body }}</p>
        </div>
        {% if post.picture %}
            <div class="post-picture" id="post-img-modal-{{ post.pk }}">
                <img class="post-img modal-img img-thumbnail mx-auto d-block" src={{ post.picture.url }} alt="post picture" />
            </div>
        {% endif %}
        <hr>
        <div class="post-bottom">
            {% if post.like_count > 0 %}
            <div class="post-stats">
                <div class="stat stat-like-count mx-2" data-bs-toggle="modal" data-bs-target="#likesModal">
                    <span class="text-muted">Likes:</span><span class="mx-2" id='like-count-post-{{ post.pk }}'>{{post.like_count}}</span>
                </div>
            </div>
            <hr>
            {% endif %}
            <div class="post-actions">
                <div class="action action-chat">
                    <div class="icon">
                        <i class="bi bi-chat"></i>
                    </div>
                    <div class="count">
                        {% if post.comment_count > 0 %}
                            <span>{{ post.comment_count }}</span>
                        {% endif %}
                    </div>
                </div>
            <div class="action like-wrapper">
                <button id="like-btn-{{ post.pk }}" class="action-btn" type="submit">
                    <div class="action action-like {% if user in post.get_liked %}liked{% endif %}" id="like-container-post-{{ post.pk }}">
                        <div class="icon">
                            <i id="like-icon-{{ post.pk }}" class="bi {% if user in post.get_liked %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                        </div>
                    </div>
                </button>
            </div>
            <div class="action action-share">
                <div class="icon" id="icon-arrow-{{ post.pk }}">
                    <i class="bi bi-box-arrow-up"  type="button" id="postShareDropdown{{ post.pk }}" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu post-share-menu" aria-labelledby="postShareDropdown{{ post.pk }}">
                        <li id="copyUrl-{{ post.pk }}"><a class="dropdown-item"><i class="bi bi-link-45deg me-2"></i><span>Copy post URL</span></a></li>
                        <li><a class="dropdown-item disabled"><i class="bi bi-envelope me-2"></i><span>Send via message TODO</span></a></li>
                    </ul>
                </div>
            </div>
            </div>
            {% if request.user.is_authenticated %}
            <hr>
                <div class="reply-container">
                    <div class="reply-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% crispy reply_form %}
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if post.comment_count > 0 %}
        <div class="post-comments my-4" id="comments">
            <div class="post-comments-title">
                <h3>Comments</h3>
            </div>
            <div class="post-comments-content">
                <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">
                        {% include 'posts/post.html' with post=comment %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% if comments.paginator.num_pages > 1 %}
            {% include 'posts/pagination.html' with page_obj=comments %}
        {% endif %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script>
        document.getElementById('like-btn-{{ post.pk }}').addEventListener('click', () => {
            likePost({{ post.pk }})
        })

        document.getElementById('copyUrl-{{ post.pk }}').addEventListener('click', () => {
            copyUrlPost({{ post.pk }})
        })

        {% if post.picture %}
            document.getElementById('post-img-modal-{{ post.pk }}').addEventListener('click', () => {
                const imgUrl = '{{ post.picture.url }}'
                imageModal(imgUrl)
            })
        {% endif %}

        {% if request.user.profile == post.author %}
            document.getElementById('delete-btn-{{ post.pk }}').addEventListener('click', () => {
                deletePost({{ post.pk }}, true)
            })
        {% endif %}

        {% if request.user.is_staff %}
            document.getElementById('delete-btn-staff-{{ post.pk }}').addEventListener('click', () => {
                deletePost({{ post.pk }}, true)
            })
        {% endif %}

    </script>
{% endblock scripts %}