{% extends 'base.html' %}
{% load static %}

{% block title %}
{{post.author_username}}: {{post.body}}
{% endblock title %}

{% block content %}
    <div class="modal fade" id="likesModal" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="likesModalLabel">Likes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for like_user in post.get_liked %}
                    <a href="{{ like_user.profile.get_absolute_url }}">
                        <p>{{ like_user.profile.username }}</p>
                    </a>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="post my-4 p-5 bg-light border rounded-3">
        <div class="post-head mb-2">
            <div class="author-picture">
                <a href="{{ post.author.get_absolute_url }}">
                    <img class="profile-picture-medium rounded" src={{ post.author.profile_picture.url }} alt="profile picture"/>
                </a>
            </div>
            <div class="post-info ms-2">
                <div class="post-author-username">
                    <a href="{{ post.author.get_absolute_url }}">{{ post.author.username }}</a>
                </div>
                <div class="post-time text-muted">
                    {% if post.updated != post.created %}
                    <abbr title="Created: {{ post.created|date:'Y/m/d g:i a'}}">
                        <small class='updated'/>
                            {{ post.updated|date:'Y/m/d g:i a'}}<i class="bi bi-pencil ms-2"></i>
                        </small>
                    </abbr>
                    {% else %}
                        <small class='created'/>{{ post.created|date:'Y/m/d g:i a'}}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="post-body">
            {% if post.parent %}
                <div class="post-parent">
                    <a href="{{ post.parent.get_absolute_url }}">
                        <small class="parent-info text-muted">Replying to {{ post.parent.author.username}}</small>
                    </a>
                </div>
            {% endif %}
            <p class="post-body-detail">{{ post.body }}</p>
        </div>
        {% if post.picture %}
            <div class="post-picture">
                <img class="post-img modal-img img-thumbnail mx-auto d-block" src={{ post.picture.url }} alt="post picture" />
            </div>
        {% endif %}
        <hr>
        <div class="post-bottom">
            <div class="post-stats">
            {% if post.like_count > 0 %}
                <div class="stat stat-like-count mx-2" data-bs-toggle="modal" data-bs-target="#likesModal">
                    <span class="text-muted">Likes:</span><span class="mx-2" id='like-count-post-{{ post.pk }}'>{{post.like_count}}</span>
                </div>
            {% endif %}
            </div>
        <hr>
            <div class="post-actions">
                <div class="action action-chat">
                    <div class="icon">
                        <i class="bi bi-chat"></i>
                    </div>
                    <div class="count">
                        {% if post.comment_count > 0 %}
                            <span>{{ post.comment_count }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="action like-wrapper">
                <form action="{% url 'posts:handle-like' post.pk %}" method="post" class="like-form">
                    {% csrf_token %}
                    <input type="hidden" name="post-id" value="{{ post.pk }}">
                    <button class="action-btn" type="submit">
                        <div class="action action-like {% if user in post.get_liked %}liked{% endif %}" id="like-container-post-{{ post.pk }}">
                            <div class="icon">
                            <!-- TODO two identical ifs -->
                                {% if user in post.get_liked %}
                                    <i id="like-icon-{{ post.pk }}" class="bi bi-heart-fill"></i>
                                {% else %}
                                    <i id="like-icon-{{ post.pk }}" class="bi bi-heart"></i>
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </form>
                </div>
                <div class="action action-share">
                    <div class="icon">
                        <i class="bi bi-box-arrow-up"  type="button" id="postShareDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu post-share-menu" aria-labelledby="postShareDropdown">
                            <input type="hidden" name="post-url" value="{{ post.get_absolute_url }}">
                            <li data-toggle="popover" title="Copied!"><a class="dropdown-item copyUrl"><i class="bi bi-link-45deg me-2"></i><span>Copy post URL</span></a></li>
                            <li><a class="dropdown-item disabled"><i class="bi bi-envelope me-2"></i><span>Send via message TODO</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if post.comment_count > 0 %}
        <div class="post-comments my-4" id="comments">
            <div class="post-comments-title">
                <h3>Comments</h3>
            </div>
            <div class="post-comments-content">
                <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">
                        {% include 'posts/post.html' with post=comment %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block scripts %}
    {% if user.is_authenticated %}
        <script src={% static 'postsScript.js' %} defer></script>
    {% endif %}
{% endblock scripts %}